<html layout:decorate="@{mily/common/layout}" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>마이 페이지 > 내 질문</title>
</head>
<body>
    <section layout:fragment="content" style="display: flex !important; justify-content: space-between; margin: 50px 100px;">
        <div th:include="mily/milyuser/information/layout/mypage_navbar :: navbar" style="display: flex; align-items: center;"></div>
        <div style="display: grid; align-items: center;">
            <ul th:each="posts: ${posts}" style="display: flex;">
                <span th:id="'createDate_' + ${posts.id}" th:text="${posts.createDate}"></span>
                <a th:href="@{/milyx/detail/{id}(id=${posts.id})}" th:text="${#strings.abbreviate(posts.subject, 15)}"></a>
            </ul>
        </div>
    </section>
</body>
</html>

<script th:inline="javascript">
    const elapsedTime = (date) => {
    	const start = new Date(date);
    	const end = new Date();

    	const seconds = Math.floor((end.getTime() - start.getTime()) / 1000);
    	if (seconds < 60) return '방금 전, ';

    	const minutes = seconds / 60;
    	if (minutes < 60) return `${Math.floor(minutes)}분 전, `;

    	const hours = minutes / 60;
    	if (hours < 24) return `${Math.floor(hours)}시간 전, `;

    	const days = hours / 24;
    	if (days < 7) return `${Math.floor(days)}일 전, `;

    	return `${start.toLocaleDateString()}`;
    };

    window.onload = function() {
        document.querySelectorAll("[id^='createDate_']").forEach(function(element) {
            const createDateInMillis = Date.parse(element.textContent);
            element.textContent = elapsedTime(createDateInMillis);
        });
    };
</script>