<html layout:decorate="~{layout}">

<main class="max-w-screen-2xl bg-gray-50 min-h-screen flex flex-col mx-auto">
    <!--  탑바  -->
    <header class="top-0 mb-4 flex justify-between items-center">
        <div class="mx-10">
            <h2 class="flex justify-center items-center">
                <a href="#"><img src="https://i.postimg.cc/DZ9cZsT1/mily-logo.png" alt="mily로고"></a>
            </h2>
        </div>

        <div class="flex justify-center items-center mx-10">
            <div class="mx-5">
                <a href="#">로그인</a>
            </div>
            <div class="mx-5">
                <a href="#">회원가입</a>
            </div>
            <button class="btn btn-primary btn-jelly" style="--tw-bg-opacity: 1;
background-color: rgba(147, 197, 253, var(--tw-bg-opacity)); border : none;">변호사 가입</button>
        </div>
    </header>

    <!--  메뉴바  -->
    <div class="flex justify-between items-center text-lg mb-3">
        <div class="TabNavMenu-module_menuList__deUxM"><button class="TabNavMenu-module_menuItemButton__IZao9 TabNavMenu-module_active__qZkXu">
            <p class="mx-5 Typography-module_lt-text--size-20__Coy4u Typography-module_lt-text--weight-700__MTX72 Typography-module_lt-text--height-100__U8Og5 Typography-module_lt-text--inherit__uNmPK" style="color: rgb(43, 45, 47);">홈</p>
        </button><button class="TabNavMenu-module_menuItemButton__IZao9">
            <p class="mx-5 Typography-module_lt-text--size-20__Coy4u Typography-module_lt-text--weight-700__MTX72 Typography-module_lt-text--height-100__U8Og5 Typography-module_lt-text--inherit__uNmPK" style="color: rgb(195, 201, 208);">변호사</p>
        </button><button class="TabNavMenu-module_menuItemButton__IZao9">
            <p class="mx-5 Typography-module_lt-text--size-20__Coy4u Typography-module_lt-text--weight-700__MTX72 Typography-module_lt-text--height-100__U8Og5 Typography-module_lt-text--inherit__uNmPK" style="color: rgb(195, 201, 208);">상담사례</p>
        </button>
        </div>

        <div class="mx-10 text-lg">
            <button class="mx-5 btn btn-primary btn-jelly" style="--tw-bg-opacity: 1;
background-color: rgba(147, 197, 253, var(--tw-bg-opacity)); border : none;">상담 예약</button>
            <button class="btn btn-primary btn-jelly" style="--tw-bg-opacity: 1;
background-color: rgba(147, 197, 253, var(--tw-bg-opacity)); border : none;">상담글 작성</button>
        </div>
        <tr></tr>
    </div>
</main>

<div layout:fragment="content" class="container my-3">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${lawyer.subject}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${lawyer.content}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div th:text="${#temporals.format(lawyer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 답변의 갯수 표시 -->
    <h5 class="border-bottom my-3 py-2"
        th:text="|${#lists.size(lawyer.answerList)}개의 답변이 있습니다.|"></h5>
    <!-- 답변 반복 시작 -->
    <div class="card my-3" th:each="answer : ${lawyer.appointmentList}">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${appointment.content}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div th:text="${#temporals.format(appointment.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 답변 반복 끝  -->
    <!-- 답변 작성 -->
    <form th:action="@{|/appointment/create/${lawyer.id}|}" method="post" class="my-3">
        <textarea name="content" id="content" rows="10" class="form-control"></textarea>
        <input type="submit" value="답변등록" class="btn btn-primary my-2">
    </form>
</div>

<style>
    /* 폰트 설정 */
@font-face {
font-family: "GmarketSansMedium";
src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
format("woff");
font-weight: normal;
font-style: normal;
}

html > body {
font-family: "GmarketSansMedium";
text-underline-position: under;
}

/* 노말라이즈 */

/* 라이브러리 */

/* 커스텀 */
:root {
--site-width: 1280px;
}

.con {
max-width: var(--site-width);
}

.search-box {
font-size: 1.5rem;
font-weight: 700;
}
</style>
</html>