<html layout:decorate="@{mily/common/layout}" lang="ko">
<head>
    <title>내 정보</title>
</head>

<body>

<section layout:fragment="content">
    <div class="flex justify-center">
        <i class="fa-solid fa-user">내 정보</i>

        <div class="card bg-base-100 shadow-xl">

            <div class="card-body">
                <h2 class="card-title mb-4">프로필 이미지</h2>

                <div class="detail flex flex-col gap-3">
                    <div class="form-control">
                        <div class="flex justify-center">
                            <img class="w-40 h-40 rounded-full" th:src="${@rq.profileImgUrl}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="display:flex; margin: 20px 0 10px 0;">
        <span th:if="${commentsCount < 0}" th:text="'작성한 답변이 없습니다.'"></span>
        <span th:if="${commentsCount > 0}" th:text="'내가 쓴 답변 ' + ${commentsCount} + '개'"></span>
    </div>

    <div class="flex" style="flex-direction: column">
        <table style="border: 1px solid #c8c8c8;">
            <thead>
            <tr>
                <th style="border-right: 1px solid #c8c8c8;">번호</th>
                <th style="border-right: 1px solid #c8c8c8;">작성일시</th>
                <th style="border-right: 1px solid #c8c8c8;">내용</th>
                <th>채택 여부</th>
            </tr>
            </thead>

            <tbody style="border: 1px solid #c8c8c8; text-align: center;">
            <tr th:each="comments: ${comments}">
                <td th:text="${comments.id}" style="border-right: 1px solid #c8c8c8;"></td>
                <td th:text="${#temporals.format(comments.createDate, 'yyyy-MM-dd, HH:SS')}" style="border-right: 1px solid #c8c8c8;"></td>
                <td th:text="${comments.body}" style="border-right: 1px solid #c8c8c8;"></td>
                <td th:text="${comments.id}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

</body>
</html>