<html layout:decorate="@{mily/common/layout}" lang="ko">
<head>
    <title>변호사 대시보드 : MILY</title>
</head>

<body>

<section layout:fragment="content">
    <!--  메뉴바  -->
    <div id="header_menu" class="text-lg w-full fixed top-20 left-0 bg-white z-50 h-12 border-b pt-4">
        <div class="flex max-w-7xl m-auto justify-evenly">
            <a th:href="@{/user/mypage/info}" class="hover:text-blue-400 text-gray-300">내 정보</a>
            <a th:href="@{/user/mypage/dashboard}"
               style="color: rgb(43, 45, 47); border-bottom: 2px solid black; padding-bottom: 3px;">대시보드</a>
        </div>
    </div>

    <div class="main">
        <div class="sub-text">
            <span class="large-text">변호사 대시보드</span>
        </div>
        <div class="flex justify-evenly">
            <div class="flex justify-center" style="width: 120px;">상담 내역</div>
            <div class="flex justify-center" style="width: 120px;">답변 내역</div>
        </div>
        <div class="flex justify-evenly mb-12">
            <div class="flex justify-center" style="width: 120px;">0</div>
            <div class="flex justify-center" style="width: 120px;">0</div>
        </div>

        <div class="my-res flex mt-8">
            <span class="regular-text ml-4 my-4">내 상담내역</span>
            <div class="info-first flex">
                <div class="ml-4 my-4">내 답변</div>
                <div class="mr-4 my-4" th:text="${commentsCount}"></div>
            </div>
            <div class="info-middle flex">
                <div class="ml-4 my-4">채택된 답변</div>
                <div class="mr-4 my-4">
<!--                    <span th:if="${comments.has"></span>-->
                </div>
            </div>
            <div class="info-middle flex">
                <div class="ml-4 my-4">예약 현황</div>
                <div class="mr-4 my-4" th:text="${reservationsCount}"></div>
            </div>
            <div class="info-last flex">
                <div class="ml-4 my-4">견적서</div>
                <div class="mr-4 my-4" th:text="${allEstimatesCount}"></div>
            </div>
        </div>

        <div class="my-cmt flex mt-8">
            <span class="regular-text ml-4 my-4">내 답변 내역</span>
            <div class="info-first flex">
            </div>
            <div class="info-middle flex" th:each="comments: ${comments}">
                <a th:href="@{/milyx/detail/{id}(id=${comments.milyX.id})}" target="_blank">
                    <div class="ml-4 my-4" th:text="${#strings.abbreviate(comments.body, 10)}"></div>
                </a>
                <div class="mr-4 my-4" th:id="'createDate_' + ${comments.id}" th:text="${comments.createDate}"></div>
            </div>
            <div class="info-last flex"></div>
        </div>

        <div class="my-cal flex mt-8">
            <span class="regular-text ml-4 my-4">예약 현황</span>
            <div class="info-first flex">
                <table style="width: 640px">
                    <thead style="width: 640px">
                    <tr>
                        <th>일</th>
                        <th>월</th>
                        <th>화</th>
                        <th>수</th>
                        <th>목</th>
                        <th>금</th>
                        <th>토</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <div style="display:flex; margin: 20px 0 10px 0;">
        <span th:if="${commentsCount < 0}" th:text="'작성한 답변이 없습니다.'"></span>
        <span th:if="${commentsCount > 0}" th:text="'내가 쓴 답변 ' + ${commentsCount} + '개'"></span>
    </div>

    <div class="flex" style="flex-direction: column">
        <table style="border: 1px solid #c8c8c8;">
            <thead>
            <tr>
                <th style="border-right: 1px solid #c8c8c8;">번호</th>
                <th style="border-right: 1px solid #c8c8c8;">질문 제목</th>
                <th style="border-right: 1px solid #c8c8c8;">답변 내용</th>
                <th style="border-right: 1px solid #c8c8c8;">답변 시간</th>
                <th>채택 여부</th>
            </tr>
            </thead>

            <tbody style="border: 1px solid #c8c8c8; text-align: center;">
            <tr th:each="comments: ${comments}">
                <td th:text="${comments.id}" style="border-right: 1px solid #c8c8c8;"></td>
                <td style="border-right: 1px solid #c8c8c8;">
                    <a th:href="@{milyx/detail/{id}(id=${comments.milyX.id})}" target="_blank"
                       th:text="${#strings.abbreviate(comments.milyX.subject, 18)}" style="font-weight: bold;"></a>
                </td>
                <td th:text="${#strings.abbreviate(comments.body, 18)}" style="border-right: 1px solid #c8c8c8;"></td>
                <td th:text="${#temporals.format(comments.createDate, 'MM월 dd일 HH시 mm분')}"
                    style="border-right: 1px solid #c8c8c8;"></td>
                <td>
                    <span th:unless="${comments.adopt}">X</span>
                    <span th:if="${comments.adopt}">O</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div style="display:flex; margin: 20px 0 10px 0;">
        <span th:if="${estimatesCount < 0}" th:text="'견적서가 없습니다.'"></span>
        <span th:if="${estimatesCount > 0}" th:text="'견적서 ' + ${estimatesCount} + '건이 대기 중입니다.'"></span>
    </div>
    <div class="flex" style="flex-direction: column">
        <table style="border: 1px solid #c8c8c8;">
            <thead>
            <tr>
                <th style="border-right: 1px solid #c8c8c8;">번호</th>
                <th style="border-right: 1px solid #c8c8c8;">1차 카테고리</th>
                <th style="border-right: 1px solid #c8c8c8;">2차 카테고리</th>
                <th style="border-right: 1px solid #c8c8c8;">지역</th>
                <th style="border-right: 1px solid #c8c8c8;">작성자</th>
                <th style="border-right: 1px solid #c8c8c8;">작성자 전화번호</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody style="border: 1px solid #c8c8c8; text-align: center;">
            <tr th:each="estimate: ${estimate}">
                <td th:text="${estimate.id}" style="border-right: 1px solid #c8c8c8;"></td>
                <td th:text="${estimate.firstCategory.title}" style="border-right: 1px solid #c8c8c8;"></td>
                <td th:text="${estimate.secondCategory.title}" style="border-right: 1px solid #c8c8c8;"></td>
                <td th:text="${estimate.area}" style="border-right: 1px solid #c8c8c8;"></td>
                <td th:text="${estimate.milyUser.userName}" style="border-right: 1px solid #c8c8c8;"></td>
                <td th:text="${estimate.milyUser.userPhoneNumber}" style="border-right: 1px solid #c8c8c8;"></td>
                <td th:text="${#temporals.format(estimate.createDate, 'MM월 dd일 HH시 mm분')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <style>
        .main {
            display: flex;
            width: 640px;
            justify-content: center;
            flex-direction: column;
            margin: 96px 0 96px;
        }
        .main > .sub-text {
            display: flex;
            justify-content: center;
            margin: 48px 0;
        }
        .large-text {
            font-size: 32px;
            font-weight: 600;
        }
        .regular-text {
            font-size: 20px;
            font-weight: 600;
        }

        .my-info, .my-res, .my-cal, .my-cmt {
            width: 100%;
            flex-direction: column;
        }
        .my-info .info-first, .my-res .info-first, .my-cal .info-first, .my-cmt .info-first {
            width: 100%;
            justify-content: space-between;
            border-top: 2px solid black;
        }
        .my-info .info-middle, .my-res .info-middle, .my-cal .info-middle, .my-cmt .info-middle {
            width: 100%;
            justify-content: space-between;
        }
        .my-info .info-last, .my-res .info-last, .my-cal .info-last, .my-cmt .info-last {
            width: 100%;
            justify-content: space-between;
        }
    </style>
</section>

</body>
</html>
<script th:inline="javascript">
    const elapsedTime = (date) => {
    	const start = new Date(date);
    	const end = new Date();

    	const seconds = Math.floor((end.getTime() - start.getTime()) / 1000);
    	if (seconds < 60) return '방금 전';

    	const minutes = seconds / 60;
    	if (minutes < 60) return `${Math.floor(minutes)}분 전`;

    	const hours = minutes / 60;
    	if (hours < 24) return `${Math.floor(hours)}시간 전`;

    	const days = hours / 24;
    	if (days < 7) return `${Math.floor(days)}일 전`;

    	return `${start.toLocaleDateString()}`;
    };

    window.onload = function() {
        document.querySelectorAll("[id^='createDate_']").forEach(function(element) {
            const createDateInMillis = Date.parse(element.textContent);
            element.textContent = elapsedTime(createDateInMillis);
        });
    };
</script>