<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Waiting Lawyer List</title>
</head>
<body>
<h1>승인 대기 중인 변호사 목록</h1>

<table border="1">
    <thead>
    <tr>
        <th>id_number</th>
        <th>userLoginId</th>
        <th>userName</th>
        <th>userEmail</th>
        <th>userPhoneNumber</th>
        <th>userDateOfBirth</th>
        <th>userCreateDate</th>
        <th>major</th>
        <th>area</th>
        <th>introduce</th>
        <th>officeAddress</th>
        <th>licenseNumber</th>
        <th>approve</th>

        <!-- 필요한 다른 필드들 -->
    </tr>
    </thead>

    <tbody th:each="lawyer : ${waitingLawyers}">
    <tr>
        <td th:text="${lawyer.id}"></td>
        <td th:text="${lawyer.userLoginId}"></td>
        <td th:text="${lawyer.userName}"></td>
        <td th:text="${lawyer.userEmail}"></td>
        <td th:text="${lawyer.userPhoneNumber}"></td>
        <td th:text="${lawyer.userDateOfBirth}"></td>
        <td th:text="${lawyer.userCreateDate}"></td>
        <td th:text="${lawyer.lawyerUser.major}"></td>
        <td th:text="${lawyer.lawyerUser.area}"></td>
        <td th:text="${lawyer.lawyerUser.licenseNumber}"></td>
        <td th:text="${lawyer.lawyerUser.officeAddress}"></td>
        <td th:text="${lawyer.lawyerUser.introduce}"></td>
        <td>
            <div class="button">
                <form th:action="@{/user/approveLawyer/{id}(id=${lawyer.id})}" method="post">
                    <input type="submit" value="Approve"/>
                </form>
            </div>
        </td>
    </tr>
    </tbody>


</table>

<a href="/">홈</a>

</body>

