<html layout:decorate="@{mily/common/layout}" lang="ko" data-theme="winter">
<head>
    <title>변호사 목록</title>
</head>
<body>
<div>
    <div layout:fragment="content">
        <ul style="margin-top: 80px;">
            <th:block th:each="lawyer : ${lawyers}">
                <li>
                    <a th:href="@{/reservation/select_date(lawyerUserId=${lawyer.id})}"
                       th:text="${lawyer.userName}"></a>
                    <span th:text="${lawyer.lawyerUser.area}"></span>
                    <span th:text="${lawyer.lawyerUser.major}"></span>
                    <span th:text="${lawyer.lawyerUser.officeAddress}"></span>
                    <span th:text="${lawyer.lawyerUser.introduce}"></span>
                </li>
            </th:block>
        </ul>
    </div>
</div>
</body>
</html>