<html layout:decorate="@{mily/common/layout}" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>MILY 아이디 찾기</title>
</head>
<body>

<div layout:fragment="content" class="flex-1 flex items-center justify-center">
    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            아이디 찾기
        </h1>

        <form th:action="@{/user/retrieveId}" method="POST" onsubmit="submitFindIdForm(this); return false;"
              class="flex flex-col gap-6">
            <div class="form-control">
                <label class="label">
                    <span class="label-text">이메일</span>
                </label>
                <input type="email" name="userEmail" placeholder="이메일" class="input input-bordered" autofocus maxlength="100">
            </div>

            <!-- 추가적으로 다른 정보(예: 전화번호)가 필요하면 여기에 추가하세요 -->

            <div>
                <button class="btn btn-block btn-primary gap-1">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    <span>아이디 찾기</span>
                </button>

                <div class="text-center">
                    <a href="/user/login" class="btn btn-link">로그인</a>
                    <a href="/user/signup" class="btn btn-link">회원가입</a>
                    <a href="/user/findPassword" class="btn btn-link">비밀번호 찾기</a>
                </div>
            </div>
        </form>

        <script>
            function submitFindIdForm(form) {
                form.userEmail.value = form.userEmail.value.trim();

                if (form.userEmail.value.length == 0) {
                    form.userEmail.focus();
                    toastWarning('이메일 입력 란을 확인해주세요.');
                    return;
                }

                /* 추가적인 유효성 검사는 여기에 작성하세요 */

                form.submit();
            }
        </script>
    </div>
</div>

</body>
</html>
