<html layout:decorate="@{mily/common/layout}" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>MILY 비밀번호 찾기</title>
</head>
<body>

<div layout:fragment="content" class="flex-1 flex items-center justify-center">
    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            비밀번호 찾기
        </h1>

        <!-- 하나의 form 태그로 시작 -->
        <form th:action="@{/user/retrievePassword}" method="POST" onsubmit="submitFindPasswordForm(this); return false;"
              class="flex flex-col gap-6">
            <div class="form-control">
                <label class="label">
                    <span class="label-text">이메일</span>
                </label>
                <input type="email" name="userEmail" placeholder="이메일" class="input input-bordered" autofocus maxlength="100">
            </div>


                <div class="form-control">
                <label class="label">
                    <span class="label-text">아이디</span>
                </label>
                <input type="text" name="userLoginId" placeholder="아이디" class="input input-bordered" maxlength="100">
            </div>

            <div>
                <button type="submit" class="btn btn-block btn-primary gap-1"> <!-- type="submit" 추가 -->
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    <span>비밀번호 찾기</span>
                </button>

                <div class="text-center">
                    <a href="/user/login" class="btn btn-link">로그인</a>
                    <a href="/user/signup" class="btn btn-link">회원가입</a>
                    <a href="/user/findId" class="btn btn-link">아이디 찾기</a>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    function submitFindPasswordForm(form) {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        // 입력값 트림 처리
        form.userEmail.value = form.userEmail.value.trim();
        form.userLoginId.value = form.userLoginId.value.trim();

        // 간단한 클라이언트 측 유효성 검사
        if (form.userEmail.value.length == 0 || form.userLoginId.value.length == 0) {
            toastWarning('이메일과 아이디 모두 입력해주세요.');
            return;
        }

        $.ajax({
            url: form.action,
            type: 'POST',
            data: {
                userEmail: form.userEmail.value,
                userLoginId: form.userLoginId.value
            },
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function(response) {
                // 서버 응답에 따라 필요한 동작 수행, 예를 들어 비밀번호 재설정 페이지로 이동
                window.location.href = '/user/resetPassword'; // 예시 URL
            },
            error: function(error) {
                toastWarning("비밀번호를 찾을 수 없습니다.");
            }
        });
    }
</script>



<!-- 페이지 상단에 스크립트 추가 -->
        <script th:inline="javascript">
            /*<![CDATA[*/
            var errorMessage = /*[[${errorMessage}]]*/ null;
            if (errorMessage) {
                alert(errorMessage);
            }
            /*]]>*/

        </script>

    </div>
</div>

</body>
</html>
