<nav th:fragment="navbar">
    <ul style="display: flex; justify-content: space-evenly; border: 1px solid #c8c8c8; padding: 15px;">
        <li><a th:href="@{/user/mypage}">내 프로필</a></li>
        <li><a th:href="@{/user/mypage/member/edit}">보안 설정</a></li>
<!--        <li><a th:href="@{/user/mypage/member/payments}">포인트 충전 내역</a></li>-->
<!--        <li><a th:href="@{/user/mypage/member/posts}">내가 쓴 글</a></li>-->
<!--        <li><a th:href="@{/user/mypage/member/withdraw}">회원 탈퇴</a></li>-->
    </ul>
</nav>